* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

body {
    background:  #141414;
}

.banner {
    width: 100%;
    position: relative;
    padding: 20px 0px;
    overflow: hidden;
}

.banner h4 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.banner h4 a {
    color: white;
}

.banner img {
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
    opacity: 0.4;
}

.banner button {
    position: absolute;
    z-index: 1;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);

    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 100%;
    border: unset;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.banner button {
    @media screen and (max-width: 580px) {
        width: 26px;
        height: 26px;
        right: 16px;
    }
}

.banner h4 {
    @media screen and (max-width: 500px) {
        font-size: 13px;
    }

    @media screen and (max-width: 400px) {
        font-size: 8px;
    }
}


.container {
    width: 100%;
    padding: 0px 20px;
}

@media screen and (min-width: 1100px) {
    .container {
        max-width: 1200px;
        margin: auto;
        padding: 0px;
    }

    .left-container {
        padding-left: calc((100vw - 1200px) / 2)
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1480px;
    }
    .left-container {
        padding-left: calc((100vw - 1480px) / 2)
    }
}

header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    @media screen and (max-width: 1024px) {
        padding: 20px;
    }
}

header button {
    font-size: 18px;
    padding: 16px 24px;
    border: 1px solid #262626;
    background:  #141414;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    &.burger {
        padding: 0px;
        border: 0px;
        display: none;
        transition: all 0.3s ease;

        @media screen and (max-width: 1024px) {
            display: block;
        }

        &.open {
            transform: translateX(-180px);
        }
    }
}


header nav {
    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        max-width: 0px;
        right: 0px;
        top: 0px;
        background-color: #262626;
        height: 100vh;
        gap: 10px;
        z-index: 99;
        transition: all 0.5s ease-in-out;

        ul {
            flex-direction: column;
            li a {
                text-align: center;
            }
        }

        button {
            display: block!important;
        }

        &.open {
            padding: 20px;
            padding-top: 80px;
            max-width: 200px;
        }
    }
}

header nav {
    display: flex;

    button {
        display: none;
    }
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 4px;

    
}

header nav ul li a {
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
    border: 1px solid  transparent;
    cursor: pointer;
    display: block;
    padding: 14px 24px;
}

header nav ul li a:hover {
    border-radius: 10px;
    border-color: #262626;
    background:  #141414;
}


section.discovery .discovery-content {
    
    @media screen and (max-width: 1200px) {
        padding-left: 20px
    }

    @media screen and (max-width: 1024px) {
        padding: 20px;
        padding-top: 144px;
    }
    h2 {
        @media screen and (max-width: 1024px) {
            font-size: 40px;
        }
    }

    p {
        @media screen and (max-width: 1024px) {
            font-size: 12px;
        }
    }
}


section.discovery .discovery-image img {
    @media screen and (max-width: 1550px) {
        width: 600px;
        height: 750px;
    }

    @media screen and (max-width: 1400px) {
        width: 500px;
        height: 800px;
        object-fit: cover;
    }

    @media screen and (max-width: 1200px) {
        width: 500px;
        height: 800px;
        object-fit: cover;
    }

    @media screen and (max-width: 1080px) {
        width: 500px;
        height: 800px;
        object-fit: cover;
    }

    @media screen and (max-width: 1024px) {
       width: 450px;
       height: 600px;
       object-fit: cover;
    }

    @media screen and (max-width: 980px) {
        width: 300px;
        height: 800px;
        object-fit: cover;
    }
    
    @media screen and (max-width: 840px) {
        width: 250px;
        height: 700px;
        object-fit: cover;
    }

    
    @media screen and (max-width: 780px) {
        padding: 20px;
        width: 100%;
        border-radius: 12px;
    }

    @media screen and (max-width: 580px) {
        padding: 20px;
        width: 100%;
        border-radius: 12px;
    }
    
}


section.discovery {
    @media screen and (max-width: 780px) {
        display: flex;
        flex-direction: column-reverse;
    }


    .discovery-content .discover-label {


        @media screen and (max-width: 750px) {
            top: -200px;
            right: 600px;
        }

        @media screen and (max-width: 780px) {
            top: -200px;
            right: 540px;
        }

        @media screen and (max-width: 650px) {
            top: -200px;
            right: 410px;
        }

        @media screen and (max-width: 580px) {
            top: -200px;
            right: 370px;
        }

        @media screen and (max-width: 500px) {
            top: -200px;
            right: 310px;
        }

        @media screen and (max-width: 450px) {
            top: -200px;
            right: 250px;
        }

        @media screen and (max-width: 400px) {
            top: -200px;
            right: 200px;
        }

    }

    .discovery-content h2 {

        @media screen and (max-width: 1080px) {
            font-size: 28px;
            margin-top: 16px;
        }

        @media screen and (max-width: 580px) {
            font-size: 28px;
            margin-top: 16px;
        }
    }

    .discovery-content .button-group {
        @media screen and (max-width: 580px) {
            display: flex;
            flex-direction: column;
            

            a {
                width: 100%;
                text-align: center;
            }
        }
    }
    .discovery-content .statistics {
        @Media screen and (max-width: 460px) {
            display: flex;
            flex-direction: column;
        }
    }
}


section.search .search-item {

    p {
        @media  screen and (max-width: 840px) {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .search-image {
        @media screen and (max-width: 840px) {
            padding: 15px;
        }
    }
}

section.search {

    @media screen and (max-width: 1400px) {
        margin-top: 50px;
    }
    
    @media screen and (max-width: 840px) {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
        padding: 20px;
    }

    @media screen and (max-width: 1200px) {
        margin-top: 50px;
    }
}


section.featured-properties {
    .container {
        @media screen and (max-width: 1200px) {
            padding: 20px;
        }
    }
    
    h3 {
        @media screen and (max-width: 840px) {
            font-size: 28px;
        }
    }

    p {
        @media screen and (max-width: 840px) {
            font-size: 14px;
        }
    }

    .featured-properties-windows {
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
    }

    .featured-text {
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
    }

    a {
        @Media screen and (max-width: 450px) {
            font-size: 12px;
        }
    }
    
}


section.rate {
    .container {
        @media screen and (max-width: 1200px) {
            padding: 20px; 
        }

        h3 {
            @media screen and (max-width: 840px) {
                font-size: 28px;
            }
        }

        .rate-text {
            p {
                @media screen and (max-width: 840px) {
                    font-size: 14px;
                }
            }
        }
    }

    .rate-windows {
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
    }

    .rate-text {
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }

        a {
            @media screen and (max-width: 480px) {
                font-size: 12px;
            }
        }
    }
}

section.frequently-questions {
    .container {
        @Media screen and (max-width: 1200px) {
            padding: 20px;
        }

        h3 {
            @media screen and (max-width: 840px) {
                font-size: 28px;
            }
        }
    }

    .frequently-questions-text {

        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }

        a {
            @media screen and (max-width: 1040px) {
                font-size: 15px;
            }

            @media screen and (max-width: 970px) {
                font-size: 12px;
            }
        }

        p {
            @media screen and (max-width: 840px) {
                font-size: 14px;
            }
        }
    }

    .frequently-questions-windows {
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
    }
}


section.start-today {
    .container {
        @Media screen and (max-width: 1200px) {
            padding: 20px;
        }

        h3 {
            
            @media screen and (max-width: 1150px) {
                font-size: 30px;
            }

            @media screen and (max-width: 840px) {
                font-size: 28px;
            }
        }
    }

    .start-today-text {

        @media screen and (max-width: 840px) {
            display: flex;
            flex-direction: column;
        }

        p {
            @media screen and (max-width: 1150px) {
                font-size: 15px;
            }
        }

        a {
            @media screen and (max-width: 1024px) {
                font-size: 15px;
            }

            @media screen and (max-width: 950px) {
                font-size: 12px;
            }
        }
    }
}


footer {
    .container {
        @media screen and (max-width: 1200px) {
            padding: 20px;
        }

        @media screen and (max-width: 1170px) {
            display: flex;
            flex-direction: column;
        }

        .email {
            @Media screen and (max-width: 1170px) {
                width: 50%;
            }

            @Media screen and (max-width: 680px) {
                width: 60%;
            }

            @Media screen and (max-width: 580px) {
                width: 70%;
            }

            @Media screen and (max-width: 500px) {
                width: 80%;
            }

            
            @Media screen and (max-width: 440px) {
                width: 90%;
            }

            @Media screen and (max-width: 400px) {
                width: 100%;
            }
        }

        .footer-right-side {
            @Media screen and (max-width: 770px) {
                display: flex;
                gap: 50px;
            }

            @Media screen and (max-width: 650px) {
                display: flex;
                gap: 30px;
            }

            .page-list {
                p {
                    @Media screen and (max-width: 770px) {
                        font-size: 15px;
                    }
    
                    @Media screen and (max-width: 650px) {
                        font-size: 12px;
                    }
    
                    @Media screen and (max-width: 560px) {
                        font-size: 10px;
                    }

                    
                    @Media screen and (max-width: 400px) {
                        font-size: 8px;
                    }
                }

                span {
                    @media screen and (max-width: 650px) {
                        font-size: 15px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}


section.last {
    @Media screen and (max-width: 1180px) {
        padding: 20px;
    }

    .container {
        @Media screen and (max-width: 840px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
        }

        .last-text {
            @media screen and (max-width: 840px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            h5 {
                @Media screen and (max-width: 380px) {
                    font-size: 13px;
                }
            }
        }
    }
}


/* about-us responsive */

header.container {
    @Media screen and (max-width: 1200px) {
        padding: 20px;
    }
}

section.journey {
    @media screen and (max-width: 740px) {
        display: flex;
        flex-direction: column-reverse;
    }

    .journey-content {
        
        @media screen and (max-width: 1200px) {
            padding-left: 20px
        }
    
        @media screen and (max-width: 1024px) {
            padding: 20px;
            padding-top: 144px;
        }
        h2 {
            @media screen and (max-width: 1200px) {
                font-size: 44px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 40px;
            }

        }
    
        p {
         
            @media screen and (max-width: 1200px) {
                font-size: 14px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 12px;
            }
        }
    }

    .journey-image img {
        @media screen and (max-width: 1200px) {
            width: 700px;
            height: 550px;
            object-fit: cover;
        }
    
        @media screen and (max-width: 1080px) {
            width: 650px;
            height: 550px;
            object-fit: cover;
        }
    
        @media screen and (max-width: 1024px) {
           width: 550px;
           height: 550px;
           object-fit: cover;
        }
    
        @media screen and (max-width: 980px) {
            width: 400px;
            height: 550px;
            object-fit: cover;
        }
        
        @media screen and (max-width: 840px) {
            width: 250px;
            height: 700px;
            object-fit: cover;
        }
    
        
        @media screen and (max-width: 780px) {
            padding: 20px;
            width: 100%;
            border-radius: 12px;
        }
    
        @media screen and (max-width: 580px) {
            padding: 20px;
            width: 100%;
            border-radius: 12px;
        }
    }
}